@page
@model NudeSolutions.Pages.InstructionsModel
@{
    ViewData["Title"] = "Instructions";
}

<h1>Welcome to the NudeSoltutions Insurance claim centre.</h1>
<p>
    To add items to your claim:
    @*<ul>
            <li>Navigate to our <a asp-area="" asp-page="/index">Add Contents page</a></li>
            <li>Choose from one of the predetermined categories</li>
            <li>Choose from one of the predetermined categories</li>
            <li>Enter the item you wish to add</li>
            <li>Enter the amount your item is currently valued at</li>
            <li>Click submit</li>
        </ul>*@
</p>
<p>
    We have provided the abilities for you to edit, delete, and sort the items to make entering your claim easier.
</p>
<p>
    NOTE: We only allow items with a of $1000.00 or less. Your total claim can only be valued at $10,000.00 or less.
</p>
<p>
    Visit our <a asp-area="" asp-page="/FAQ">FAQ page</a> for more information
</p>